draft*

# runs/detect/train
# runs/detect/train1
# runs/detect/train2
# runs/detect/train3
# runs/detect/train4
runs/

yolo11n.pt

__MACOSX/

object_screens/

output/

test_screens_for_detecting/

YOLO11_dataset/

/yolov5/